
/*background style */

  div {
    background: linear-gradient(#252525, #252525 50%, #2ecc71 50%, #2ecc71);
    background-size: 100% 200%;
    /*trasition effect for background*/
    transition: background 1s;
  }
  
  div:hover {
    background-position: 100% 100%;
  }